[Desktop Entry]
Version=1.0
Name=Qutebrowser
Exec=/home/aman/qutebrowser/.venv/bin/qutebrowser %u
Icon=qutebrowser
Terminal=false
Type=Application
Categories=Network;WebBrowser;
StartupWMClass=org.qutebrowser.qutebrowser
MimeType=text/html;text/xml;application/xhtml+xml;x-scheme-handler/http;x-scheme-handler/https;

