[user]
	name = Aman Kumar Gupta
	email = aman65144kumar@gmail.com
[alias]
        s = status
        a = add .
        b = checkout -b
        br = branch
        del = delete -D
        p = push
        edit = config --global --edit
        m = branch -M main
        co = checkout
        ci = commit -m
        cia = commit -am
        lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
[init]
	defaultBranch = main
